/*BASE*/


/*Reset css*/


/**{
      margin: 0;
      padding: 0;
      list-style: none;
      vertical-align: baseline;
    }*/


/*LAYOUT*/

md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: #000;
}

.menu .text-capitalize {
    text-transform: capitalize;
}

.menu .md-fab:hover, .menu .md-fab.md-focused {
    background-color: #000 !important;
}

.menu p.note {
    font-size: 1.2rem;
}

.menu {
    top: 65%;
    left: 92.5%;
    position: fixed;
    z-index: 3;
}

.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
    background-color: #000;
}


/*MODULES*/

/*.player{
  padding: 10px 0 0 0;
}*/

.player a {
    height: 50px !important;
    width: 80% !important;
    margin: 1% auto 0 10%;
}

.sheet {
    display: flex;
    flex-direction: column;
}

.wod-content {
    /*background-image: url('../images/wod-background.jpg');
  background-position: center;*/
}


/*STATES*/


/*THEMES*/


/*UTILITIES*/


/*SHAME*/
