<div class="master">
    <md-card md-theme="default" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Crônica</span>
                <span class="md-subhead">Aventura</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary">Mestrar</md-button>
            <md-button class="md-raised md-warn">Deletar</md-button>
        </md-card-actions>
    </md-card>
</div>
