<div class="world">
    <md-card md-theme="default" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Meus Personagens</span>
                <span class="md-subhead">(0)</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media"></div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
    <md-card md-theme="default" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Minhas Crônicas</span>
                <span class="md-subhead">(0)</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media"></div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
    <md-card md-theme="default" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Galeria</span>
                <span class="md-subhead">(0)</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media"></div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
</div>
