<div class="player">
    <md-button class="md-raised" ui-sref="wod.vampire">Vampire</md-button>
    <md-button class="md-raised" ui-sref="wod.wolf">WereWolf</md-button>
    <md-button class="md-raised" ui-sref="wod.mage">Mage</md-button>
    <md-button class="md-raised" ui-sref="wod.demon">Demon</md-button>
    <md-button class="md-raised" ui-sref="wod.angel">Angel</md-button>
    <md-button class="md-raised" ui-sref="wod.hunter">Hunter</md-button>
    <md-button class="md-raised" ui-sref="wod.wraith">Wraith</md-button>
    <md-button class="md-raised" ui-sref="wod.changeling">Changeling</md-button>
    <md-button class="md-raised" ui-sref="wod.mummy">Mummy</md-button>
</div>
