<div>
    <h2>VAMPIRE</h2>
    <form name="formVampire">
        <div class="sheet">
          <div class="">
            <label>Nome</label>
            <input type="text" ng-model="vampire.name" name="name">
            <label>Personagem</label>
            <input type="text" ng-model="vampire.character" name="character">
            <label>Crônica</label>
            <input type="text" ng-model="vampire.chronicle" name="chronicle">
          </div>
          <div class="">
            <label>Natureza</label>
            <input type="text" ng-model="vampire.nature" name="nature">
            <label>Comportamento</label>
            <input type="text" ng-model="vampire.behavior" name="behavior">
            <label>Clã</label>
            <input type="text" ng-model="vampire.clan" name="clan">
          </div>
          <div class="">
            <label>Geração</label>
            <input type="text" ng-model="vampire.generation" name="generation">
            <label>Refúgio</label>
            <input type="text" ng-model="vampire.refuge" name="refuge">
            <label>Conceito</label>
            <input type="text" ng-model="vampire.concept" name="concept">
          </div>
        </div>
        <div class="sheet">
          <div class="">
            <label>Nome</label>
            <input type="text" ng-model="vampire.name" name="name">
            <label>Personagem</label>
            <input type="text" ng-model="vampire.character" name="character">
            <label>Crônica</label>
            <input type="text" ng-model="vampire.chronicle" name="chronicle">
          </div>
          <div class="">
            <label>Natureza</label>
            <input type="text" ng-model="vampire.nature" name="nature">
            <label>Comportamento</label>
            <input type="text" ng-model="vampire.behavior" name="behavior">
            <label>Clã</label>
            <input type="text" ng-model="vampire.clan" name="clan">
          </div>
          <div class="">
            <label>Geração</label>
            <input type="text" ng-model="vampire.generation" name="generation">
            <label>Refúgio</label>
            <input type="text" ng-model="vampire.refuge" name="refuge">
            <label>Conceito</label>
            <input type="text" ng-model="vampire.concept" name="concept">
          </div>
        </div>
        <div class="sheet">
          <div class="">
            <label>Nome</label>
            <input type="text" ng-model="vampire.name" name="name">
            <label>Personagem</label>
            <input type="text" ng-model="vampire.character" name="character">
            <label>Crônica</label>
            <input type="text" ng-model="vampire.chronicle" name="chronicle">
          </div>
          <div class="">
            <label>Natureza</label>
            <input type="text" ng-model="vampire.nature" name="nature">
            <label>Comportamento</label>
            <input type="text" ng-model="vampire.behavior" name="behavior">
            <label>Clã</label>
            <input type="text" ng-model="vampire.clan" name="clan">
          </div>
          <div class="">
            <label>Geração</label>
            <input type="text" ng-model="vampire.generation" name="generation">
            <label>Refúgio</label>
            <input type="text" ng-model="vampire.refuge" name="refuge">
            <label>Conceito</label>
            <input type="text" ng-model="vampire.concept" name="concept">
          </div>
        </div>
        <div class="sheet">
          <div class="">
            <label>Nome</label>
            <input type="text" ng-model="vampire.name" name="name">
            <label>Personagem</label>
            <input type="text" ng-model="vampire.character" name="character">
            <label>Crônica</label>
            <input type="text" ng-model="vampire.chronicle" name="chronicle">
          </div>
          <div class="">
            <label>Natureza</label>
            <input type="text" ng-model="vampire.nature" name="nature">
            <label>Comportamento</label>
            <input type="text" ng-model="vampire.behavior" name="behavior">
            <label>Clã</label>
            <input type="text" ng-model="vampire.clan" name="clan">
          </div>
          <div class="">
            <label>Geração</label>
            <input type="text" ng-model="vampire.generation" name="generation">
            <label>Refúgio</label>
            <input type="text" ng-model="vampire.refuge" name="refuge">
            <label>Conceito</label>
            <input type="text" ng-model="vampire.concept" name="concept">
          </div>
        </div>
        <div class="sheet">
          <div class="">
            <label>Nome</label>
            <input type="text" ng-model="vampire.name" name="name">
            <label>Personagem</label>
            <input type="text" ng-model="vampire.character" name="character">
            <label>Crônica</label>
            <input type="text" ng-model="vampire.chronicle" name="chronicle">
          </div>
          <div class="">
            <label>Natureza</label>
            <input type="text" ng-model="vampire.nature" name="nature">
            <label>Comportamento</label>
            <input type="text" ng-model="vampire.behavior" name="behavior">
            <label>Clã</label>
            <input type="text" ng-model="vampire.clan" name="clan">
          </div>
          <div class="">
            <label>Geração</label>
            <input type="text" ng-model="vampire.generation" name="generation">
            <label>Refúgio</label>
            <input type="text" ng-model="vampire.refuge" name="refuge">
            <label>Conceito</label>
            <input type="text" ng-model="vampire.concept" name="concept">
          </div>
        </div>
        <div class="sheet">
          <div class="">
            <label>Nome</label>
            <input type="text" ng-model="vampire.name" name="name">
            <label>Personagem</label>
            <input type="text" ng-model="vampire.character" name="character">
            <label>Crônica</label>
            <input type="text" ng-model="vampire.chronicle" name="chronicle">
          </div>
          <div class="">
            <label>Natureza</label>
            <input type="text" ng-model="vampire.nature" name="nature">
            <label>Comportamento</label>
            <input type="text" ng-model="vampire.behavior" name="behavior">
            <label>Clã</label>
            <input type="text" ng-model="vampire.clan" name="clan">
          </div>
          <div class="">
            <label>Geração</label>
            <input type="text" ng-model="vampire.generation" name="generation">
            <label>Refúgio</label>
            <input type="text" ng-model="vampire.refuge" name="refuge">
            <label>Conceito</label>
            <input type="text" ng-model="vampire.concept" name="concept">
          </div>
        </div>
        <button ng-click="addSheet()" ng-disabled="formVampire.$invalid" type="submit">Salvar</button>
    </form>
</div>
