<div>
    <h2>WOD</h2>
    <div class="lock-size" layout="row" layout-align="end end">
        <md-fab-speed-dial md-open="false" md-direction="up" class="md-fling">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary">
                    <md-icon md-svg-src="images/svg/menu.svg"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="Create" class="md-fab md-raised md-mini">
                    <md-icon md-svg-src="images/svg/create.svg" aria-label="Create"></md-icon>
                </md-button>
                <md-button aria-label="Join" class="md-fab md-raised md-mini">
                    <md-icon md-svg-src="images/svg/join.svg" aria-label="Join"></md-icon>
                </md-button>
                <md-button aria-label="Collection" class="md-fab md-raised md-mini">
                    <md-icon md-svg-src="images/svg/collection.svg" aria-label="Collection"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
</div>
